.content
  .container
    h1= @post.name
.main-new.post
  .container style="width:1000px"
    .info-post
      .pre-info-post
        == @post.content
      .main-new-date
        = link_to @category.name, lk_category_path(@category.slug)
        span= @post.created_at.localtime.strftime("%d.%m.%Y")
.page-news.clearfix
  .container
div style="width:100%;height:120px;float:left"
