p Здравствуйте, #{@user.name}!
== @content
p Осталось дней: #{@user.days_left}.
p Не забудьте <a href="#{@payment_url}">продлить</a> подписку.
p С уважением, команда <a href='bzclass.ru'>bzclass.ru</a>!
