.row
  .col-sm-12
    .btn-group role="group"
      = link_to 'Все', admin_payouts_path(f: :all), class: "btn btn-default #{'active' if params[:f] == 'all'}", type: :button
      = link_to 'Ожидают', admin_payouts_path, class: "btn btn-default #{'active' if params[:f].nil?}", type: :button
      = link_to 'История', admin_payouts_path(f: :paid), class: "btn btn-default #{'active' if params[:f] == 'paid'}", type: :button
    table.table
      thead
        tr
          th Пользователь
          th Кошелек
          th Телефон
          th Сумма
          th
      tbody
        - @payouts_keys.each do |recepient_id|
          tr
            td= @payouts[recepient_id].first.recepient.name
            td= @payouts[recepient_id].first.wallet
            td= @payouts[recepient_id].first.recepient.phone
            td= @payouts[recepient_id].sum(&:amount)
            td
              - unless params[:f]
                = button_to "Вывести!", admin_pay_path(recepient_id), class: 'btn btn-danger'

    = will_paginate @payouts_keys, renderer: BootstrapPagination::Rails

