.row
  .col-sm-12
    .panel.panel-primary.main-form
      .panel-heading
        h4 Вход
      .panel-body
        = form_tag user_sessions_path, method: :post, class: 'form-horizontal' do
          .form-group
            .col-sm-12
              = text_field_tag :email, '', class: "form-control", placeholder: "Email", required: true
          .form-group
            .col-sm-12
              = password_field_tag :password, '', class: "form-control", placeholder: "Пароль", required: true
          .form-group
            .col-sm-12
              .centered
                .checkbox
                  label
                    input type="checkbox" name='remember_me'
                    | Запомнить меня
          .form-group
            .col-sm-12
              button.btn.btn-default.width100 type="submit"  Вход


        .row
          .col-sm-6
            = link_to 'Забыли пароль?', new_password_reset_path, class: 'btn btn-default width100'
          .col-sm-6
            = link_to 'Регистрация', new_user_path, class: 'btn btn-default width100'
