.row
  .col-sm-12
    .panel.panel-primary.main-form
      .panel-heading
        h4 Восстановление пароля
      .panel-body
        = form_tag password_resets_path, :method => :post, class: 'form-horizontal' do
          .form-group
            .col-sm-12
              = text_field_tag :email, '', class: "form-control", placeholder: "Email*", required: true
          .form-group
            .col-sm-12
              button.btn.btn-warning.width100 type="submit"  Восстановить пароль!
        .row
          .col-sm-6
            = link_to 'Вход', login_path, class: 'btn btn-default width100'
          .col-sm-6
            = link_to 'Регистрация', new_user_path, class: 'btn btn-default width100'
