.row
  .col-sm-12
    .panel.panel-primary.main-form
      .panel-heading
        h4 Новый пароль
      .panel-body
        = simple_form_for @user, url: password_reset_path(@token), html: { class: 'form-horizontal', method: :put }, wrapper: :horizontal_form_w100 do |f|
          / = f.input :email
          = f.input :password, label: 'Пароль', input_html: { placeholder: 'Новый пароль' }
          = f.input :password_confirmation, label: 'Подтверждение пароля', input_html: { placeholder: 'Новый пароль еще раз' }

          = f.button :submit, 'Изменить пароль'
/ .row
/   .col-sm-12
/     .panel.panel-primary.main-form
/       .panel-heading
/         h4 Восстановление пароля
/       .panel-body
/         = form_tag password_resets_path, :method => :post, class: 'form-horizontal' do
/           .form-group
/             .col-sm-12
/               = text_field_tag :email, '', class: form-control, placeholder: Email*, required: true                                        html
/           .form-group
/             .col-sm-12
/               button.btn.btn-warning.width100 type=submit  Изменить пароль

