footer
  .container
    p.copy 2015 © Бизнес-класс
    ul.social.right
      li.footer-social1
        a href="#"
      li.footer-social2
        a href="#"
      li.footer-social3
        a href="#"
      li.footer-social4
        a href="#"
      li.footer-social5
        a href="#"
