header
  .container
    a.logo href=profile_path
      = image_tag "logo.png"
    nav

        ul
          - unless controller_name == 'payments'
            li
              a class=main_menu_li_class(lk_news_path)     href=lk_news_path Новости
            li
              a class=main_menu_li_class(profile_path)     href=profile_path  Аккаунт
            / li
              / a class=main_menu_li_class(new_payment_path) href=new_payment_path  Оплатить
            li
              a class=main_menu_li_class(new_payout_path)  href=new_payout_path  Реферальная программа
            li
              a class=main_menu_li_class(grant_path)       href=grant_path  Заявка на грант
            li
              a class=main_menu_li_class(faq_path)         href=faq_path  FAQ
          li
            = link_to 'Выход', logout_path, data: { 'no-turbolink' => true }
