table
  tbody
    tr
      td Имя
      td= @params[:first_name]
    tr
      td Мобильный телефон
      td= @params[:phone]
    tr
      td Фамилия
      td= @params[:last_name]
    tr
      td E-mail
      td= @params[:email]
    tr
      td Отчество
      td= @params[:middle_name]
    tr
      td Ваш возраст
      td= @params[:age]
    tr
      td Дополнительный способ связи
      td= @params[:dop]
    tr
      td Напишите о себе
      td= @params[:about]
    tr
      td Опишите ваш проект
      td= @params[:project_about]
    tr
      td Как ваш проект сможет улучшить жизнь людей), в чем его польза?
      td= @params[:project_benefits]
    tr
      td Опишите, каким образом проект будет приносить прибыль в дальнейшей перспективе?
      td= @params[:project_profit]
    tr
      td Если реализация Вашего проекта стоит дороже призового бюджета), подтвердите, что у Вас есть дополнительные средства на его реализацию?
      td= @params[:project_add_cash]
    tr
      td Опишите, на что Вы планируете потратить призовой фонд
      td= @params[:project_prize]
    tr
      td Сайт вашего проекта
      td= @params[:site]
    tr
      td VK
      td= @params[:vk]
    tr
      td Instagram
      td= @params[:inst]
    tr
      td Twitter
      td= @params[:twitter]
    tr
      td Facebook
      td= @params[:facebook]
    tr
      td Комментарии
      td= @params[:comment]
