= content_for :title do
  = 'Бизнес-класс | О проекте'
.page-header.relative.clearfix
  .page-header-top.center.clearfix
    a href=root_path
      = image_tag "welcome/logo-dark.png", alt: "Бизнес Класс", class: 'logo'
    ul.page-header-menu.right
      = render partial: 'welcome/shared/header_menu'
  .page-content.center
    h2 О проекте
    .clearfix
      .about-photo.left
        img alt="" src="" /
      p.about-text.right
        | Наша цель - создание сообщества активных, целеустремленных и успешных людей, готовых строить и развивать свой бизнес, идти вперед и менять окружающий мир на пути к максимальной самореализации и достижению личной независимости от любых границ и обстоятельств.
        br/
        br/
        | Верьте себе, верьте в свои возможности. А мы сделаем все, чтобы помочь в реализации ваших целей по созданию успешного бизнеса , приносящего не только доход, но и удовольствие от реализации самых смелых идей.
= content_for(:footer) do
  .page-footer.clearfix
    = render partial: 'welcome/shared/footer'
