= content_for :title do
  = 'Бизнес-класс | Контакты'
.page-header.relative.clearfix
  .page-header-top.center.clearfix
    a href=root_path
      = image_tag "welcome/logo-dark.png", alt: "Бизнес Класс", class: 'logo'
    ul.page-header-menu.right
      = render partial: 'welcome/shared/header_menu'
  .page-content
    h2 Контакты
    .center.clearfix
      = form_tag feedback_path, class: 'page-contacts-left left' do
        h3 Появились вопросы?
        input name="name" placeholder="Имя*" type="text" /
        input name="email" placeholder="E-Mail*" type="text" /
        textarea name="context" placeholder=("Нам интересно их узнать.")
        input type="submit" value="Отправить" /
      .page-contacts-right.right
        p По вопросам сотрудничества:
        a href="mailto:info@bzclass.ru"  info@bzclass.ru
        p Для прессы:
        a href="mailto:pr@bzclass.ru"  pr@bzclass.ru
        p
          | Адрес:
          br>/
          | Нижний Новгород, улица и дом
.page-footer
  = render partial: 'welcome/shared/footer'
