#slider-wrap
  #slider
    .slide
      = image_tag "welcome/slide1.jpg", alt: ''
    .slide
      = image_tag "welcome/slide2.jpg", alt: ''
    .slide
      = image_tag "welcome/slide3.jpg", alt: ''
.home-header.relative.clearfix
  .home-header-top
    .center.clearfix
      a href=root_path
        = image_tag "welcome/logo.png", alt: "Бизнес Класс", class: 'logo'
      ul.home-header-menu.right
        = render partial: 'welcome/shared/header_menu'
  .home-header-bottom.clearfix
    h2 Сообщество успешных людей
    a href="#registration"  Стать участником
    h3.users-count Участников в проекте: #{User.with_status(:register_and_paid).count}
.home-about
  .center.clearfix
    .home-about-block.wow.fadeInUp
      .home-about-block-img
        = image_tag "welcome/ic1.png", alt: ''
      h4 Новости:
      p Актуальная и самая важная информация из мира экономики, бизнеса и финансов
    .home-about-block.wow.fadeInUp
      .home-about-block-img
        = image_tag "welcome/ic2.png", alt: ''
      h4 Инвестиции и гранты:
      p Мы поддержим ваш бизнес или поможем найти деньги для ваших проектов
    .home-about-block.wow.fadeInUp
      .home-about-block-img
        = image_tag "welcome/ic3.png", alt: ''
      h4 Привилегии:
      p Станьте участником и используйте на максимум все возможности системы для вашего бизнеса
- if @category.present?
  .home-news.clearfix
    .center
      h3 Новости
      - @category.posts.order(id: :desc).limit(3).each do |post|
        .home-news-block.wow.fadeInUp
          h4= post.name
          span= post.created_at.localtime.strftime("%d.%m.%Y")
          p= post.short_description
          = link_to 'Читать', post_path(@category.slug, post.slug)

.home-partners
  .center.clearfix
    .home-partners-left.left
      h4 СМИ
      .home-partners-img
        = image_tag "welcome/partner1.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner2.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner3.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner4.png", alt: ''
    .home-partners-middle.left
    .home-partners-right.left
      h4 В партнерстве
      .home-partners-img
        = image_tag "welcome/partner5.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner6.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner7.png", alt: ''
      .home-partners-img
        = image_tag "welcome/partner8.jpg", alt: ''
#registration.home-reg
  .center.clearfix
    h4 Регистрация
    = simple_form_for User.new, html: { class: 'new_user new_user_form' } do |f|
      = f.text_field :name, required: true, placeholder: 'Ваше Имя и Фамилия*', class: 'wow fadeInDown'
      = f.text_field :phone, required: true, placeholder: 'Телефон*', class: 'wow fadeInDown phone'
      = f.text_field :email, required: true, placeholder: 'E-mail*', class: 'wow fadeInDown'
      = f.password_field :password, required: true, placeholder: 'Пароль*', class: 'wow fadeInDown'
      = f.password_field :password_confirmation, required: true, placeholder: 'Пароль еще раз*', class: 'wow fadeInDown'
      .checkbox-wrapper.wow.fadeInDown
        = f.check_box :acceptance_of_the_offer, required: true
        = f.label :acceptance_of_the_offer, 'Согласен с пользовательским соглашением'
      input.wow.fadeInDown type="submit" value="Зарегистрироваться" /






= content_for(:footer) do
  .home-footer
    = render partial: 'welcome/shared/footer'

