= content_for :title do
  = 'Бизнес-класс | Новости проекта'
.page-header.relative.clearfix
  .page-header-top.center.clearfix
    a href=root_path
      = image_tag "welcome/logo-dark.png", alt: "Бизнес Класс", class: 'logo'
    ul.page-header-menu.right
      = render partial: 'welcome/shared/header_menu'
  .page-content.center
    h2 Новости проекта
    .page-news.clearfix
      .center
        - if @category.present?
          = render partial: 'welcome/shared/post', collection: @category.posts.order(id: :desc).limit(3)
.page-footer
  = render partial: 'welcome/shared/footer'
