.payment
  .content
    .container
      h1 Оплата годовой подписки
      h3.centered Стоимость #{Payment::DEFAULT_AMOUNT} рублей
      / - if current_user
      /   p
      /     h4.centered Реферальная ссылка: #{new_user_url(id: current_user.id)}
  .main-new
    .container.w1000
      .payment-wrapper
        h4 Что вы получаете:
        ul
          li Доступ к сообществу
          li Новости бизнеса
          li Тренды
          li Базу знаний
          li Возможность получение грантов и инвестиций
          li Экспертную оценку ваших проектов
          li.red Участие в розыгрыше автомобиля Mercedes и BMW
        = pay_url "Оплатить при помощи Робокассы", @payment.id, @payment.amount, { html: { class: 'btn btn-danger btn-bg' }}
        / .col-sm-6
        /   .panel.panel-default
        /     .panel-heading
        /       h4 Оплатить
        /     .panel-body
        /       - if current_user
        /         p Дней осталось: #{current_user.days_left}
        /       p.centered= pay_url "Оплатить при помощи Робокассы", @payment.id, @payment.amount
        / .col-sm-6
        /   .panel.panel-default
        /     .panel-heading
        /       h4 История оплаты
        /     .panel-body
        /       table.table.table-condensed
        /         thead
        /           tr
        /             th Дата
        /             th Сумма
        /             th Статус
        /         - if current_user
        /           tbody
        /             - current_user.payments.paid.find_each do |payment|
        /               tr
        /                 td= payment.created_at.localtime.strftime("%d.%m.%Y %H:%M")
        /                 td= payment.amount
        /                 td= payment.status
div style="width:100%;height:120px;float:left"
