= simple_form_for [:admin, @post], :html => { :class => "form-horizontal" } do |f|
  = f.association :category, include_blank: false
  = error_span(@post[:category_id])
  = f.input :name
  = error_span(@post[:name])
  = f.input :is_main
  = error_span(@post[:is_main])
  = f.input :short_description
  = error_span(@post[:short_description])
  = f.input :content, as: :ckeditor, input_html: { data: { 'no-turbolink' => true },ckeditor: { language: 'ru', toolbar: 'Full' } }
  = error_span(@post[:content])
  = f.input :image
  = error_span(@post[:image])
  = f.button :submit, :class => 'btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_posts_path, :class => 'btn btn-default'
