- model_class = Category
div class="page-header"
  h1 Категории
  = link_to 'Добавить категорию', new_admin_category_path, class: 'btn btn-primary'
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:is_public)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @categories.each do |category|
      tr
        td= link_to category.id, admin_category_path(category.id)
        td= category.name
        td= category.is_public
        td=l category.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_category_path(category.id), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_category_path(category.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'


h1 Новости
= link_to 'Создать новость', new_admin_post_path, class: 'btn btn-primary'
table class="table table-striped"
  thead
    tr
      th id
      th Категория
      th Название
      th Короткое описание
      th Изображение
      th Дата создания
      th
  tbody
    - @posts.each do |post|
      tr
        td= link_to post.id, admin_post_path(post.id)
        td= link_to post.category.name, edit_admin_category_path(post.category)
        td= post.name
        td= post.short_description
        td
          - if post.image.present?
            = image_tag post.image.url(:thumb), width: 100
        td= post.created_at.localtime.strftime("%d.%m.%Y %H:%M")
        td
          = link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_post_path(post.id), class: 'btn btn-default'
          = link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_post_path(post.id), method: :delete, data:{ confirm: ('Точно удалить?') }, class: 'btn btn-danger'

= will_paginate @posts, renderer: BootstrapPagination::Rails
