- model_class = Post
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:category_id) + ':'
  br
  = @post.category_id
p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  = @post.name
p
  strong= model_class.human_attribute_name(:short_description) + ':'
  br
  = @post.short_description
p
  strong= model_class.human_attribute_name(:content) + ':'
  br
  == @post.content
- if @post.image.present?
  p
    strong= model_class.human_attribute_name(:image) + ':'
    br
    =image_tag @post.image.url(:thumb)

= link_to t('.back', :default => t("helpers.links.back")), admin_posts_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_post_path(@post.id), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_post_path(@post.id), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
