.row
  .col-sm-12
    .panel.panel-primary.main-form
      .panel-heading
        h4 Регистрация
      .panel-body
        = simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form_w100 do |f|
          = f.input :parent_id, as: :hidden
          = f.error_notification
          = f.input :name, required: true, label: false, input_html: { placeholder: 'Ваше Имя и Фамилия*' }
          = f.input :phone, required: true, label: false, input_html: { placeholder: 'Телефон*', class: 'phone' }
          = f.input :email, required: true, label: false, input_html: { placeholder: 'E-mail*' }
          = f.input :password, required: true, label: false, input_html: { placeholder: 'Пароль*' }
          = f.input :password_confirmation, required: true, label: false, input_html: { placeholder: 'Пароль еще раз*' }
          .p-left-15px
            = f.input :acceptance_of_the_offer, as: :boolean, required: true, inline_label: 'Согласен с пользовательским соглашением'
          .form-group
            .col-sm-12
              = f.button :submit, "#{current_user ? 'Сохранить' : 'Зарегистрироваться'}", class: 'btn btn-default width100'
        - unless @user.parent_id
          .row
            .col-sm-6
              = link_to 'Забыли пароль?', new_password_reset_path, class: 'btn btn-default width100'
            .col-sm-6
              = link_to 'Вход', login_path, class: 'btn btn-default width100'
