.content
  .container
    h1 Аккаунт
.main-new.post
  .container.w1000
    .row
      .col-sm-6
        .panel.panel-primary
          .panel-heading
            h4 Основная информация
          .panel-body
            table.table.table-condensed
              tbody
                tr
                  td ФИО
                  td= current_user.name
                tr
                  td ID
                  td= current_user.id
                tr
                  td Вас пригласил
                  td= current_user.parent.try(:name)
                tr
                  td E-mail
                  td= current_user.email
                tr
                  td Телефон
                  td= current_user.phone
                tr
                  td Срок действия подписки
                  td= current_user.days_left
                tr
                  td Реферальная ссылка*
                  td= new_user_url(id: current_user.id)

          .panel-footer * Платим 3000 рублей за рекомендацию. <a href="#{new_payout_path}">Подробности</a>

      .col-sm-6
        .panel.panel-primary
          .panel-heading
            h4 Настройки
          .panel-body
            = simple_form_for current_user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form_w100 do |f|
              = f.error_notification
              = f.input :current_password, required: true, label: false, input_html: { placeholder: 'Текущий пароль*' }
              = f.input :password, required: true, label: false, input_html: { placeholder: 'Пароль*' }
              = f.input :password_confirmation, required: true, label: false, input_html: { placeholder: 'Подтверждение пароля*' }
              .form-group
                .col-sm-12
                  = f.button :submit, "Изменить", class: 'btn btn-default width100'
          .panel-footer
            p Пожалуйста, в целях безопасности, следите за актуальностью данных.

.clearfix
div style="width:100%;height:120px;float:left"
