.center.clearfix
  p.left 2015 © Бизнес-класс
  ul.footer-menu.clearfix
    li
      a href=about_path class="#{'current' if params[:action] == 'about'}"  О проекте
    li
      a href=news_path class="#{'current' if params[:action] == 'news'}"  Новости
    li
      a href=contacts_path class="#{'current' if params[:action] == 'contacts'}"  Контакты
    li data-no-turbolink=''
      a href=login_path  Личный кабинет
  ul.social.right
    li.footer-social1
      a href="#"
    li.footer-social2
      a href="#"
    li.footer-social3
      a href="#"
    li.footer-social4
      a href="#"
    li.footer-social5
      a href="#"
