li
  a class="#{'current' if params[:action] == 'about'}" href=about_path  О проекте
li
  a class="#{'current' if ['news', 'show'].include?(params[:action])}" href=news_path  Новости
li
  a class="#{'current' if params[:action] == 'contacts'}" href=contacts_path  Контакты
li data-no-turbolink=''
  a href=lk_path  Личный кабинет
