.content
  .container
    h1 Реферальная программа
    h4.red.centered
      'Пригласи друга - получи #{Payment::DEFAULT_AMOUNT} рублей!
      .hidden
        #ya_share data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki"
    .well.centered
      'Ваша ссылка-инвай: #{new_user_url(id: current_user.id)}
    p.centered Приглашаем принять участие в нашей реферальной программе. Суть проста: вы даёте рекомендацию о вступлении в сообщество и получаете за это 100% вступительного взноса с каждого нового участника. Зачисление средств на аккаунт происходит сразу при выполнении цикла — регистрации двух приглашенных вами участников. При этом количество циклов, которые вы можете выполнить, не ограничено.

.main-new.post
  .container.w1000
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading
            h4 Участники:
          .panel-body
            table.table.table-condensed
              thead
                tr
                  th ФИО
                  th Статус
              tbody
                - current_user.childrens.find_each do |user|
                  tr
                    td= user.name
                    td= user.status_text
      .col-sm-6
        .panel.panel-default
          .panel-heading
            h4 На аккаунте:
          .panel-body
            table.table.table-condensed
              tbody
                tr
                  td На счету:
                  td= amount_in_currency(current_user.account.amount)
                tr
                  td Доступно к выводу:
                  td= amount_in_currency(current_user.available)
                tr
                  td Ожидает вывода:
                  td= amount_in_currency(current_user.waiting_amount)

            - if !current_user.account.is_waiting_for_payout? && current_user.account.available > 0
              = link_to 'Запросить выплату', '#modal-payment', class: 'btn btn-default width100 js-modal'

        .panel.panel-default
          .panel-heading
            h4 История выводов
          .panel-body
            table.table.table-condensed
              thead
                tr
                  th Дата
                  th Сумма
                  th Участник
                  th Статус
              tbody
                - @payouts.find_each do |payout|
                  tr
                    td= payout.created_at.localtime.strftime("%d.%m.%Y %H:%M")
                    td= payout.amount
                    td= payout.refferal.name
                    td class="#{'text-success' if payout.status == 'paid'}"= payout.status_text
.clearfix
- if !current_user.account.is_waiting_for_payout? && current_user.account.available > 0
  #modal-payment.modal.fade aria-labelledby="Вывод средств на qiwi кошелек" role="dialog" tabindex="-1"
    .modal-dialog
      .modal-content
        .row
          .col-sm-7
            h4 Вывод средств на qiwi кошелек
            p При выводе взымается <strong>комиссия: 18%</strong>
          .col-sm-5
            = image_tag 'qiwi.jpg', class: 'media-object', width: 190
        .row
          .col-sm-12
            = simple_form_for @payout, wrapper: :horizontal_form_sm_6, html: { class: 'form-horizontal', novalidate: false } do |f|
              = f.input :wallet, as: :string, required: true, label: 'Qiwi кошелек для вывода', hint: 'только цифры, без пробелов', input_html: { class: 'phone' }
              .form-group
                label class="col-sm-6 control-label" Снять со счета
                .col-sm-6
                  == amount_in_currency(current_user.account.available)
              .form-group
                label class="col-sm-6 control-label" Зачислить на Qiwi
                .col-sm-6
                  - amount = amount_without_percent(current_user.account.available, 18)
                  == amount_in_currency(amount)

              = f.button :submit, 'вывести', class: 'btn btn-default'
    javascript:
      initMask();

javascript:
  var YaShareInstance = new Ya.share({
    element: 'ya_share',
    l10n: 'en',
    link: "#{new_user_url(id: current_user.id)}",
    title: 'Вот отличный проект, которым я хочу с Вами поделиться!',
    image: 'http://bzclass.ru/logo-dark.png',
    description: 'Сообщество Бизнес-Класс: Инвестиции, Гранты, Тренды, База знаний, Новости бизнеса, Бонусы и акции, а также Экспертная оценка.',
    elementStyle: {
      type: 'none',
      quickServices: ['vkontakte', 'facebook', 'twitter', 'odnoklassniki' ]
    }
  });
div style="width:100%;height:120px;float:left"
