= simple_form_for [:admin, @question], :html => { :class => "form-horizontal" } do |f|
  = f.input :name
  = error_span(@question[:name])
  = f.input :answer
  = error_span(@question[:answer])
  = f.input :is_active
  = error_span(@question[:is_active])

  = f.button :submit, 'Сохранить', :class => 'btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_questions_path, :class => 'btn btn-default'
