h1 FAQ
= link_to 'Создать', new_admin_question_path, class: 'btn btn-primary'
table class="table table-striped"
  thead
    tr
      th id
      th Название
      th Ответ
      th Видимый?
      th Дата создания
      th
  tbody
    - @questions.each do |question|
      tr
        td= link_to question.id, admin_post_path(question.id)
        td= question.name
        td= question.answer[0..200]
        td= question.is_active
        td= question.created_at.localtime.strftime("%d.%m.%Y %H:%M")
        td
          = link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_question_path(question.id), class: 'btn btn-default'
          = link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_question_path(question.id), method: :delete, data:{ confirm: ('Точно удалить?') }, class: 'btn btn-danger'

= will_paginate @questions, renderer: BootstrapPagination::Rails
