- model_class = Question
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  = @question.name
p
  strong= model_class.human_attribute_name(:answer) + ':'
  br
  = @question.answer
p
  strong= model_class.human_attribute_name(:is_active) + ':'
  br
  = @question.is_active


= link_to t('.back', :default => t("helpers.links.back")), admin_questions_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_question_path(@question.id), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_question_path(@question.id), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
