.page-news-block
  .page-news-block-img
    = image_tag post.image.url(:thumb)
  h4
    = link_to post.name, lk_post_path(post.category.slug, post.slug)
  span
    strong= post.category.name
    = post.created_at.localtime.strftime("%d.%m.%Y")
  p= post.short_description
  = link_to 'Подробнее...', lk_post_path(post.category.slug, post.slug)
