.content
  .container
    h1 Новости
    .news-cats
      - @categories.each do |category|
        = link_to category.name, lk_category_path(category.slug), class: "#{'active-cat' if category == @category}"
      / a.active-cat href="#"  Тренды
      / a href="#"  База знаний
      / a href="#"  Новости проекта
- if @main_post.present?
  .main-new.post
    .container style="width:1000px"
      - if @main_post.image.present?
        .post-thumb
          = image_tag @main_post.image.url(:_1000)
      .info-post
        .pre-info-post
          h3= @main_post.name
          p= @main_post.short_description
          = link_to 'Подробнее..', lk_post_path(@main_post.category.slug, @main_post.slug), class: 'permal'
        .main-new-date
          = link_to @main_post.category.name, lk_category_path(@main_post.category.slug)
          span=@main_post.created_at.localtime.strftime("%d.%m.%Y")
.page-news.clearfix
  .container
    = render partial: 'lk/categories/post', collection: @posts

  .centered
    = will_paginate @posts, renderer: BootstrapPagination::Rails
div style="width:100%;height:120px;float:left"
