= simple_form_for [:admin, @setting], url: admin_mailer_path, html: { class: "form-horizontal" } do |f|
  = f.input :value, as: :ckeditor, label: @setting.var, input_html: { data: { 'no-turbolink' => true }, ckeditor: { language: 'ru', toolbar: 'Full' } }
  = f.button :submit, :class => 'btn-primary'
