.row
  .col-sm-12
    table.table
      thead
        tr
          th Название
          th Значение
          th
      tbody
        - @settings.find_each do |setting|
          tr
            td= setting.var
            td== truncate_html(setting.value, length: 100, omission: '...')
            td
              = link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_mailer_path(setting), class: 'btn btn-default', title: 'редактировать'
              / = link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_mailer_path(setting), method: :DELETE, data: { confirm: 'Вы уверенны?' }, class: 'btn btn-danger', title: "Удалить"

