= simple_form_for [ :admin, @category ], :html => { :class => "form-horizontal" } do |f|
  = f.input :name
  = error_span(@category[:name])
  = f.input :is_public
  = error_span(@category[:is_public])
  = f.button :submit,(@category.new_record? ? 'Создать категорию' : 'Сохранить изменения'), :class => 'btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_categories_path, :class => 'btn btn-default'
