- model_class = Category
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:is_public)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @categories.each do |category|
      tr
        td= link_to category.id, admin_category_path(category.id)
        td= category.name
        td= category.is_public
        td=l category.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_category_path(category.id), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_category_path(category.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= will_paginate @categories, renderer: BootstrapPagination::Rails

= link_to t('.new', :default => t("helpers.links.new")), new_admin_category_path, :class => 'btn btn-primary'

