- model_class = Category
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  = @category.name
p
  strong= model_class.human_attribute_name(:slug) + ':'
  br
  = @category.slug
p
  strong= model_class.human_attribute_name(:is_public) + ':'
  br
  = @category.is_public

= link_to t('.back', :default => t("helpers.links.back")), admin_categories_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_category_path(@category.id), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_category_path(@category.id), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
