/*
 *= require bootstrap_and_overrides
 *= require_self
 */

.width100 {
  width: 100%;
}

.centered {
  text-align: center;
}

.main-form {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
