/*
 *= require bootstrap_and_overrides
 *= require_self
 */
@import 'application/style';

.width100 {
  width: 100%;
}

.width1000 {
  width: 1000px;
}

.centered {
  text-align: center;
}

.main-form {
  max-width: 800px;
  margin: 0 auto;
}

body {
  margin-bottom: 60px;
}

.footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // height: 60px;
  // background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.payment {
  .payment-wrapper {
    width: 400px;
    margin: 0 auto;
  }
}

.red {
  color: red;
}
.p-left-15px {
  padding-left: 15px;
}

#modal-payment {
  max-width: 500px;
  margin: 0 auto;
  .modal-dialog {
    max-width: 500px;
    .modal-content {
      padding: 15px;
    }
  }
}

.checkbox {
  span.text-danger {
    display: block;
  }
}

#new_payout {
  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
