/*
 *= require_self
 */

@import 'welcome/animate';
@import 'welcome/style';

.new_user_form{
  .text-danger {
    // margin-top: -25px;
    // margin-bottom: 18px;
    // display: block;
  }
}

.users-count {
  display: inline-block;
  position: absolute;
  bottom: -130px;
  left: 50%;
  width: 300px;
  height: 80px;
  margin-left: -150px;
  font-family: "segoe";
}
