/ = current_page
.row
  .col-sm-12
    .btn-group role="group"
      = link_to 'Все', admin_users_path, class: "btn btn-default #{'active' if params[:f].nil?}", type: :button
      = link_to 'Зарегистрировались', admin_users_path(f: :register), class: "btn btn-default #{'active' if params[:f]== 'register'}", type: :button
      = link_to 'Зарегистрировались и оплатили', admin_users_path(f: :paid), class: "btn btn-default #{'active' if params[:f] == 'paid'}", type: :button
    table.table
      thead
        tr
          th ID
          th ФИО
          th Баланс
          th Телефон
          th E-mail
          th Статус
          th Как зарегистрировался
      tbody
        - @users.each do |user|
          tr
            td= user.id
            td= user.name
            td= user.current_bill
            td= user.phone
            td= user.email
            td= user.status_text
            td= user.parent_id ? 'Реферальная ссылка' : 'пришел сам'
.cleafix
= will_paginate @users, renderer: BootstrapPagination::Rails
