.content
  .container
    h1 FAQ
    .faq-questions
      - @questions.each do |question|
        .one-ques
          a href="#"= question.name
          p= question.answer
div style="width:100%;height:120px;float:left"
javascript:
  $(function(){
    $(".faq-questions a").click(function(){
      var flag = $(this).parent().find("p").css('display');
      if (flag == "none") {
        $(this).addClass('minus');
        $(this).parent().find("p").fadeIn();
      }
      else{
        $(this).removeClass('minus');
        $(this).parent().find("p").fadeOut();
      };

      return false;
    });
  });
