.content.blue
  .container
    h1 Заявка на грант
    .grant-questions
      .one-g-quest
        span
          | Какие проекты
          br>/
          | нам подходят:
        p Станьте участником и используйте на максимум все возможности системы для вашего бизнеса
      .one-g-quest
        span Как мы выбираем победителя:
        p Станьте участником и используйте на максимум все возможности системы для вашего бизнеса
      .one-g-quest
        span
          | Как мы реализуем
          br/
          | проект победителя:
        p Станьте участником и используйте на максимум все возможности системы для вашего бизнеса
    .sendsteps
      span.active-step Шаг 1. Личные данные
      span Шаг 2. Информация о проекте
    / form.report.report1 method="POST" action=grant_request_path
    = form_tag grant_request_path, multipart: true, class: 'grant_form' do
      .report.report1
        input name="first_name" placeholder="Имя*" type="text" required='required' /
        input name="phone" placeholder=("Мобильный телефон*") type="text" required='required' /
        input name="last_name" placeholder="Фамилия*" type="text" required='required' /
        input name="email" placeholder="E-mail*" type="text" required='required' /
        input name="middle_name" placeholder="Отчество*" type="text" required='required' /
        input name="age" placeholder=("Ваш возраст") type="text" /
        input.allwidth name="dop" placeholder=("Дополнительный способ связи") type="text" /
        textarea name="about" placeholder=("Напишите о себе")
        label
          input.checkbox name="rules" type="checkbox" required='required' /
          span
            | Согласен с условиями конкурса (
            a style='text-decoration: underline;' href="#" правила
            | ,pdf)
        button Продолжить
      .report.report2
        textarea name="project_about" placeholder="Опишите ваш проект*" required='required'
        textarea name="project_benefits" placeholder="Как ваш проект сможет улучшить жизнь людей), в чем его польза?*" required='required'
        textarea name="project_profit" placeholder="Опишите, каким образом проект будет приносить прибыль в дальнейшей перспективе?*" required='required'
        textarea name="project_add_cash" placeholder="Если реализация Вашего проекта стоит дороже призового бюджета), подтвердите, что у Вас есть дополнительные средства на его реализацию?*" required='required'
        textarea name="project_prize" placeholder="Опишите, на что Вы планируете потратить призовой фонд*" required='required'
        input name="site" placeholder="Сайт вашего проекта" type="text" /
        input name="vk" placeholder="VK" type="text" /
        input name="inst" placeholder="Instagram" type="text" /
        input name="twitter" placeholder="Twitter" type="text" /
        input name="facebook" placeholder="Facebook*" style="float:left" type="text" required='required'
        .uploadfile
          span Фото и другие материалы
          div style=("text-align: center; overflow: hidden; width: 100px; height: 47px; border: 1px solid #40A7DE; background-color: #40A7DE; float:right;cursor:pointer")
            div style=("color: #fff; font-size: 20px; font-weight: bold;font-family:segoe;font-weight:normal;padding-top:7px; cursor:pointer")  Обзор
            = file_field_tag 'file', size: "1", style: "margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;"
            / input#file name="file" size="1" style=("margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;") type="file" /
        textarea name="comment" placeholder="Комментарии"
        button.submit Отправить
div style="width:100%;height:120px;float:left"
javascript:
  $(function(){
    $(".report1 button").click(function(e){
      e.preventDefault();
      if ($('.grant_form').valid() == true){
        $(".report1").fadeOut();
        $(".report2").fadeIn();
        $('.sendsteps span:first').removeClass('active-step');
        $('.sendsteps span:last').addClass('active-step');
        return false;
      };
    });

  });
