* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  &.blue {
    background-color: #0671A3;
  }
}

@font-face {
  font-family: "segoe";
  src: url(font-path('segoe-ui-light.ttf')) format('truetype');
  font-weight: 200;
}


@font-face {
  font-family: "segoe";
  src: url(font-path('SegoeUIRegular.ttf')) format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: "segoe";
  src: url(font-path('SegoeUIBold.ttf')) format('truetype');
  font-weight: 600;
}


h1, h2, h3, h4, h5, h6, p, a, span, label, table, div, b, input, textarea {
  font-family: Segoe;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  float: left;
  background-color: #0671A3;
  .logo {
    float: left;
    width: 200px;
    margin-top: 13px;
    img {
      width: 100%;
    }
  }
  nav {
    float: right;
    margin-top: 25px;
    ul li {
      list-style: none;
      float: left;
      a {
        text-decoration: none;
        font-family: "segoe";
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #fff;
        margin: 0 15px;
        &:hover {
          color: #248DC2;
        }
        &.act {
          border-bottom: 1px solid #32A0DB;
        }
      }
    }
  }
}

.content h1 {
  width: 100%;
  float: left;
  color: #016CA0;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: normal;
}

.faq-questions {
  float: left;
  margin-left: 280px;
  .one-ques {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    a {
      display: block;
      float: left;
      background-image: image-url('plus.png');
      background-repeat: no-repeat;
      background-size: contain;
      padding: 8px 0;
      padding-left: 60px;
      text-decoration: none;
      color: #0F75A6;
      &.minus {
        background-image: image-url('minus.png');
      }
    }
    p {
      width: 100%;
      float: left;
      padding-left: 60px;
      display: none;
    }
  }
}

.blue .content h1 {
  color: #fff;
}

.grant-questions {
  width: 100%;
  float: left;
  margin-top: 30px;
  .one-g-quest {
    float: left;
    width: 270px;
    margin-right: 165px;
    &:last-child {
      margin-right: 0px;
    }
    span {
      color: rgba(255, 255, 255, 0.6);
      font-size: 24px;
      margin-bottom: 20px;
      width: 100%;
      float: left;
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
    }
  }
}

.sendsteps {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  span {
    color: #349CD2;
    font-size: 18px;
    margin: 0 15px;
    &.active-step {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.report1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.report {
  input, textarea {
    font-size: 18px;
  }
}

.report1 input {
  width: 380px;
  float: left;
  &:nth-child(2n) {
    margin-left: 40px;
  }
  &.allwidth {
    width: 800px !important;
  }
}

.report {
  input {
    color: #fff;
    background: none;
    border: 1px solid #2690C5;
    padding: 10px;
    margin-bottom: 15px;
  }
  textarea {
    color: #fff;
    background: none;
    border: 1px solid #2690C5;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    float: left;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #349CD2;
  }
}

.uploadfile span {
  color: #349CD2;
}

.report button {
  width: 400px;
  color: #fff;
  border: 0;
  font-size: 18px;
  background-color: #40A7DE;
  padding: 14px 0;
  cursor: pointer;
}

.report1 label {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 5px;
  a {
    color: #CCE2EB;
  }
  .checkbox {
    width: auto;
    float: left;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid red;
    margin-left: 220px;
    margin-right: 10px;
  }
  span {
    float: left;
    color: #CCE2EB;
  }
}

.report2 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  display: none;
  input {
    width: 380px;
  }
}

.uploadfile {
  width: 380px;
}

.report2 {
  .uploadfile {
    span {
      float: left;
      font-size: 20px;
      margin-top: 7px;
      margin-left: 10px;
    }
    float: right;
    border: 1px solid #2690C5;
  }
  input:nth-child(2n+1) {
    margin-left: 35px;
  }
  button {
    float: left;
    margin-left: 200px;
  }
}

.news-cats {
  width: 100%;
  float: left;
  text-align: center;
  a {
    border: 1px solid #0671A3;
    color: #0671A3;
    text-decoration: none;
    padding: 10px 35px;
    margin: 0 5px;
    &.active-cat {
      background-color: #0671A3;
      color: #fff;
    }
  }
}

.main-new {
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 30px;
  .post-thumb {
    width: 100%;
    height: 400px;
    float: left;
    // background-color: #bbb;
    text-align: center;
    img {
      max-height: 400px;
      margin: 0 auto;
    }
  }
  .info-post {
    width: 100%;
    float: left;
    margin-top: 20px;
    position: relative;
    .pre-info-post {
      width: 800px;
      float: left;
      h3 {
        color: #0671A3;
        float: left;
        margin-bottom: 5px;
        width: 100%;
      }
    }
    .main-new-date {
      float: right;
      width: 300px;
      float: right;
    }
  }
}

.post {
  .main-new-date a {
    color: #fff;
    background-color: #32A0DB;
    padding: 5px 15px;
    text-decoration: none;
    margin-right: 15px;
  }
  &.main-new-date span {
    color: #32A0DB;
  }
  a.permal {
    float: left;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 5px;
    display: block;
    color: #32A0DB;
    border: 1px solid #32A0DB;
    margin-top: 20px;
    &:hover {
      background-color: #32A0DB;
      color: #fff;
    }
  }
}

.page-news {
  margin-top: 50px;
  .container .page-news-block:last-child {
    margin-right: 0px;
  }
}

.page-news-block {
  float: left;
  width: 310px;
  padding: 30px 25px 5px 25px;
  margin: 0 35px 55px 35px;
  border: 2px solid transparent;
}

.page-news-block-img {
  width: 240px;
  height: 240px;
  margin: 0 0 35px 0;
  overflow: hidden;
  background: #edecec;
  img {
    min-width: 240px;
    min-height: 240px;
  }
}

.page-news-block {
  h4 a {
    position: relative;
    display: block;
    height: 55px;
    overflow: hidden;
    margin: 0 0 30px 0;
    font-family: "Segoe";
    font-size: 25px;
    line-height: 25px;
    font-weight: normal;
    text-align: left;
    color: #0671a3;
    text-decoration: none;
  }
  span {
    display: block;
    margin: 0 0 30px 0;
    font-family: "Segoe";
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #5ab2e1;
  }
  strong {
    display: inline-block;
    max-width: 155px;
    padding: 7px;
    margin-right: 15px;
    font-family: "Segoe";
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    text-align: left;
    background: #5ab2e1;
    color: #fff;
  }
  p {
    position: relative;
    display: block;
    height: 100px;
    margin: 0 0 30px 0;
    overflow: hidden;
    font-family: "segoe";
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #2b2a29;
  }
  > a {
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid #40a7de;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-family: "Segoe";
    font-size: 18px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    color: #40a7de;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: #40a7de;
    }
  }
}

footer {
  width: 100%;
  float: left;
  height: 120px;
  background-color: #0671A3;
  margin-top: -120px;
}

.forfoot {
  min-height: 100%;
  width: 100%;
  float: left;
}

footer {
  .social {
    float: right;
    margin-top: 50px;
    li {
      float: left;
      width: 20px;
      height: 20px;
      margin: 0 10px;
      overflow: hidden;
      background-image: image-url('footer-social.jpg');
      list-style: none;
      a {
        display: block;
        height: 20px;
        width: 20px;
        float: left;
      }
      &.footer-social1 {
        background-position: 0 0;
      }
      &.footer-social2 {
        background-position: 0 -20px;
      }
      &.footer-social3 {
        background-position: 0 -40px;
      }
      &.footer-social4 {
        background-position: 0 -60px;
      }
      &.footer-social5 {
        background-position: 0 -80px;
      }
    }
  }
  .copy {
    margin: 0 0 25px 0;
    font-family: "segoe";
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    color: #40a7de;
    float: left;
    margin-top: 50px;
  }
}
