doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "BzclassRu"
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "admin", media: "all", data: { turbolinks: { track: true } }
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    = javascript_include_tag "admin", data: { turbolinks: { track: true } }



  body
    .navbar.navbar-default.navbar-static-top
      .container
        button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand data-no-turbolink='' href=root_path admin::bzclass.ru
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li class=main_menu_li_class(admin_users_path, admin_root_path) = link_to 'Пользователи', admin_users_path
            li class=main_menu_li_class(admin_payouts_path)                = link_to 'Выплата', admin_payouts_path
            / li class="#{'active' if controller_name == }"      = link_to 'Категории', admin_categories_path
            li class="#{'active' if ['categories', 'posts'].include?(controller_name)}" = link_to 'Новости', admin_posts_path
            li class="#{'active' if controller_name == 'questions'}"                   = link_to 'FAQ', admin_questions_path
            li class=main_menu_li_class(admin_settings_path)                           = link_to 'Настройки', admin_settings_path
            li class=main_menu_li_class(admin_mailers_path)                            = link_to 'Почта', admin_mailers_path


    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield

