doctype html
html
  head
    title Бизнес-класс
    = stylesheet_link_tag "application", media: "all", data: { turbolinks: { track: true } }
    meta charset="utf-8" /
    meta property="og:image" content="http://bzclass.ru/logo-dark.png"
    meta property="og:title" content="Вот отличный проект, которым я хочу с Вами поделиться!"
    meta property="og:description" content="Сообщество Бизнес-Класс: Инвестиции, Гранты, Тренды, База знаний, Новости бизнеса, Бонусы и акции, а также Экспертная оценка."
    = javascript_include_tag "lk", data: { turbolinks: { track: true } }
    = javascript_include_tag "#{request.protocol}yandex.st/share/share.js"
  body class="#{ 'blue' if action_name == 'grant' }"
    .forfoot
      = render 'shared/header'
      .clearfix
      = bootstrap_flash
      - if current_user && current_user.status != 'register' && current_user.days_left < 11
        .alert.fade.in.alert-danger.centered
          - days_left = current_user.days_left
          'Срок вашей подписки заканчивается через #{days_left} #{Russian.p(days_left, 'день', 'дня', 'дней')}.
          = link_to 'Продлить', new_payment_path
      end
      = yield
    = render 'shared/footer'
