doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta property="og:image" content="http://bzclass.ru/logo-dark.png"
    meta property="og:title" content="Вот отличный проект, которым я хочу с Вами поделиться!"
    meta property="og:description" content="Сообщество Бизнес-Класс: Инвестиции, Гранты, Тренды, База знаний, Новости бизнеса, Бонусы и акции, а также Экспертная оценка."
    title= content_for?(:title) ? yield(:title) : "BzclassRu"
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", media: "all",             data: { turbolinks: { track: true } }
    = stylesheet_link_tag "bootstrap_and_overrides", media: "all", data: { turbolinks: { track: true } }
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    = javascript_include_tag "application", data: { turbolinks: { track: true } }




  body
    .navbar.navbar-default.navbar-static-top
        .container
          button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand data-no-turbolink='' href=root_path
            = image_tag "welcome/logo-dark.png", height: 40, style: 'margin-top: -5px;'
          / .navbar-collapse.collapse.navbar-responsive-collapse
          /   ul.nav.navbar-nav
          /     li class=main_menu_li_class(profile_path) = link_to 'Профиль', profile_path
          /     li class=main_menu_li_class(new_payment_path) = link_to "Оплатить", new_payment_path
          /   - if current_user
          /     ul.nav.navbar-nav.pull-right
          /       li= link_to 'Выход', logout_path, data: { 'no-turbolink' => true }

    .container style='padding-top: 60px;'
      .row
        .col-lg-12
          = bootstrap_flash
          = yield

    / footer.footer
    /   .container
    /     p.text-muted Бизнес-класс
