doctype html
html lang="en"
  head
    meta charset="UTF-8" /
    title= content_for?(:title) ? yield(:title) : 'Бизнес-класс'
    meta content="width=device-width" name="viewport" /
    meta content="true" name="HandheldFriendly" /
    = stylesheet_link_tag "welcome", media: "all", data: { turbolinks: { track: true } }
  body
    = yield
    = content_for?(:footer) ? yield(:footer) : ''
    = javascript_include_tag "welcome", data: { turbolinks: { track: true } }
